<configuration>

  <!--
  # this variables have to be replaced
  # * ENVID
  # * ES_LOG_HOST
  # * ES_LOG_PORT
  # * ES_LOG_USERNAME
  # * ES_LOG_PASSWORD
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%-5level] [logger: %-60logger{60}] %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="JSONSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>UTC</timeZone>
    </encoder>
  </appender>

  <logger name="com.ubirch" level="DEBUG"/>
  <logger name="com.ubirch.avatar.core.avatar.AvatarStateManager" level="INFO"/>
  <logger name="com.ubirch.avatar.backend.actor.DeviceApiActor" level="INFO"/>
  <logger name="com.ubirch.user.client.rest.UserServiceClientRest" level="INFO"/>
  <logger name="com.ubirch.util.mongo.connection.MongoUtil" level="INFO"/>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="akka.camel.internal" level="INFO"/>
  <logger name="com.amazonaws" level="WARN"/>
  <logger name="reactivemongo.core" level="WARN"/>

  <root level="WARN">
    <appender-ref ref="JSONSTDOUT"/>
    <!--<appender-ref ref="STDOUT"/>-->
    <!--<appender-ref ref="ELASTIC"/>-->
  </root>

</configuration>
