<configuration>

  <!--
  # this variables have to be replaced
  # * ENVID
  # * ES_LOG_HOST
  # * ES_LOG_PORT
  # * ES_LOG_USERNAME
  # * ES_LOG_PASSWORD
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%-5level] [logger: %-60logger{60}] %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">
    <url>http://${ES_LOG_HOST}:${ES_LOG_PORT}/_bulk</url>
    <authentication class="com.internetitem.logback.elasticsearch.config.BasicAuthentication"/>
    <index>${ENVID}-avatar-service-logs-%date{yyyy-MM-dd}</index>
    <type>log</type>
    <loggerName>es-logger</loggerName> <!-- optional -->
    <errorLoggerName>es-error-logger</errorLoggerName> <!-- optional -->
    <connectTimeout>30000</connectTimeout> <!-- optional (in ms, default 30000) -->
    <errorsToStderr>false</errorsToStderr> <!-- optional (default false) -->
    <includeCallerData>false</includeCallerData> <!-- optional (default false) -->
    <logsToStderr>false</logsToStderr> <!-- optional (default false) -->
    <maxQueueSize>104857600</maxQueueSize> <!-- optional (default 104857600) -->
    <maxRetries>3</maxRetries> <!-- optional (default 3) -->
    <readTimeout>30000</readTimeout> <!-- optional (in ms, default 30000) -->
    <sleepTime>250</sleepTime> <!-- optional (in ms, default 250) -->
    <rawJsonMessage>false</rawJsonMessage> <!-- optional (default false) -->
    <properties>
      <property>
        <name>host</name>
        <value>${HOSTNAME}</value>
        <allowEmpty>false</allowEmpty>
      </property>
      <property>
        <name>level</name>
        <value>%level</value>
      </property>
      <property>
        <name>log</name>
        <value>%message</value>
      </property>
      <property>
        <name>thread</name>
        <value>%thread</value>
      </property>
      <property>
        <name>stacktrace</name>
        <value>%ex</value>
      </property>
      <property>
        <name>logger</name>
        <value>%logger</value>
      </property>
    </properties>
    <headers>
      <header>
        <name>Content-Type</name>
        <value>text/plain</value>
      </header>
    </headers>
  </appender>

  <appender name="JSONSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>UTC</timeZone>
    </encoder>
  </appender>

  <logger name="com.ubirch" level="INFO"/>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="akka.camel.internal" level="INFO"/>
  <logger name="com.amazonaws" level="WARN"/>
  <logger name="reactivemongo.core" level="WARN"/>

  <root level="WARN">
    <appender-ref ref="JSONSTDOUT"/>
    <!--<appender-ref ref="STDOUT"/>-->
    <!--<appender-ref ref="ELASTIC"/>-->
  </root>

</configuration>
