*.class
*.log

# sbt specific
.cache
.history
.lib
dist/
target/
lib_managed/
src_managed/
.bsp
project/*

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml
TMP
.ivy2
?
.sbt.ivy.lock
.sbt.cache.lock
/cache
dump.rdb
xml-test-reports/
**/__pycache
**/*.pyc
**/.DS_Store
.scalafmt.conf
